# Preprocess data for machine learning

### March 3, 2018
### Tiffany Huang

In [164]:
%matplotlib inline
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn.linear_model import LogisticRegression
import matplotlib.pyplot as plt
from sklearn.utils import shuffle
from sklearn.model_selection import GridSearchCV

# Input data files are available in the "WDataFiles/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

from subprocess import check_output
print(check_output(["ls", "WDataFiles"]).decode("utf8"))

WCities.csv
WFieldGoalPercentage.csv
WFieldGoalPercentage_IDs.csv
WGameCities.csv
WNCAATourneyCompactResults.csv
WNCAATourneySeeds.csv
WNCAATourneySlots.csv
WReboundMargin.csv
WReboundMargin_IDs.csv
WRegularSeasonCompactResults.csv
WSampleSubmissionStage1.csv
WScoringMargin.csv
WScoringMargin_IDs.csv
WScoringOffense.csv
WScoringOffense_IDs.csv
WSeasons.csv
WTeamSpellings.csv
WTeams.csv
WTurnovers.csv
WTurnovers_IDs.csv
ranking_macro.xlsm

# Load the Training Data

In [180]:
data_dir = 'WDataFiles/'
df_seeds = pd.read_csv(data_dir + 'WNCAATourneySeeds.csv')
df_tourney = pd.read_csv(data_dir + 'WNCAATourneyCompactResults.csv')
df_reg_season = pd.read_csv(data_dir + 'WRegularSeasonCompactResults.csv')
df_field_goal = pd.read_csv(data_dir + 'WFieldGoalPercentage_IDs.csv')
df_rebounds = pd.read_csv(data_dir + 'WReboundMargin_IDs.csv')
df_scoring_margin = pd.read_csv(data_dir + 'WScoringMargin_IDs.csv')
df_scoring_offense = pd.read_csv(data_dir + 'WScoringOffense_IDs.csv')
df_turnovers = pd.read_csv(data_dir + 'WTurnovers_IDs.csv')

# Seeds Data

In [181]:
df_seeds.head()

   Season Seed  TeamID
0    1998  W01    3330
1    1998  W02    3163
2    1998  W03    3112
3    1998  W04    3301
4    1998  W05    3272

In [182]:
# First, we'll simplify the datasets to remove the columns we won't be using 
# and convert the seedings to the needed format (stripping the regional abbreviation in front of the seed).

# Get just the digits from the seeding. Return as int
def seed_to_int(seed):
    s_int = int(seed[1:3])
    return s_int

df_seeds.drop(df_seeds[df_seeds.Season < 2002].index, inplace=True)
df_seeds.index = range(len(df_seeds))
df_seeds['seed_int'] = df_seeds.Seed.apply(seed_to_int)
df_seeds.drop(labels=['Seed'], inplace=True, axis=1) # This is the string label
df_seeds.head()

   Season  TeamID  seed_int
0    2002    3181         1
1    2002    3124         2
2    2002    3376         3
3    2002    3400         4
4    2002    3256         5

# Tournament Data

In [183]:
df_tourney.drop(labels=['DayNum', 'WScore', 'LScore', 'NumOT'], inplace=True, axis=1)
df_tourney.drop(df_tourney[df_tourney.Season < 2002].index, inplace=True)
df_tourney.index = range(len(df_tourney))
df_tourney.head()

   Season  WTeamID  LTeamID WLoc
0    2002     3116     3155    H
1    2002     3124     3137    H
2    2002     3160     3380    H
3    2002     3179     3393    H
4    2002     3181     3313    H

In [184]:
# Merge the Seeds with their corresponding TeamIDs in the compact results dataframe.
df_winseeds = df_seeds.rename(columns={'TeamID':'WTeamID', 'seed_int':'WSeed'})
df_lossseeds = df_seeds.rename(columns={'TeamID':'LTeamID', 'seed_int':'LSeed'})
df_dummy = pd.merge(left=df_tourney, right=df_winseeds, how='left', on=['Season', 'WTeamID'])
df_concat = pd.merge(left=df_dummy, right=df_lossseeds, on=['Season', 'LTeamID'])
df_concat['SeedDiff'] = df_concat.WSeed - df_concat.LSeed
df_concat.drop(labels=['WSeed', 'LSeed'], inplace=True, axis=1)
df_concat.head()

   Season  WTeamID  LTeamID WLoc  SeedDiff
0    2002     3116     3155    H        -5
1    2002     3124     3137    H       -13
2    2002     3160     3380    H       -11
3    2002     3179     3393    H        -3
4    2002     3181     3313    H       -15

# Regular Season Data

In [185]:
df_reg_season.drop(labels=['DayNum', 'WScore', 'LScore', 'WLoc', 'NumOT'], inplace=True, axis=1)
df_reg_season.drop(df_reg_season[df_reg_season.Season < 2002].index, inplace=True)
df_reg_season.index = range(len(df_reg_season))
df_reg_season.head()

   Season  WTeamID  LTeamID
0    2002     3160     3331
1    2002     3163     3193
2    2002     3191     3396
3    2002     3198     3372
4    2002     3307     3334

In [186]:
# Find the record during the regular season between two teams
def regSeasonToRecord(df):
    record_dict = {}
    for row in df.itertuples():
        if (row[1] not in record_dict):
            record_dict[row[1]] = {}
        else:
            if ((row[2], row[3]) in record_dict[row[1]]):
                record_dict[row[1]][(row[2], row[3])] += 1
            else:
                record_dict[row[1]][(row[2], row[3])] = 1
    return record_dict

record_dict = regSeasonToRecord(df_reg_season)

In [187]:
# Add the record between the winning and losing teams to the table
# Iterate through df_concat rows, look for record in dictionary between WTeam and LTeam and add it to the row
df_record = pd.DataFrame()
for row in df_concat.itertuples():
    if ((row[2], row[3]) in record_dict[row[1]]):
        df_record = df_record.append(pd.DataFrame([record_dict[row[1]][(row[2], row[3])]], columns=['Record']), ignore_index=True)
    elif ((row[3], row[2]) in record_dict[row[1]]):
        df_record = df_record.append(pd.DataFrame([-1.0 * record_dict[row[1]][(row[3], row[2])]], columns=['Record']), ignore_index=True)
    else:
        df_record = df_record.append(pd.DataFrame([0], columns=['Record']), ignore_index=True)
        
df_concat = pd.concat([df_concat, df_record], axis=1)
df_concat

      Season  WTeamID  LTeamID WLoc  SeedDiff  Record
0       2002     3116     3155    H        -5     0.0
1       2002     3124     3137    H       -13     0.0
2       2002     3160     3380    H       -11     0.0
3       2002     3179     3393    H        -3     0.0
4       2002     3181     3313    H       -15     0.0
5       2002     3198     3166    H        -7     0.0
6       2002     3243     3245    H       -11     0.0
7       2002     3261     3365    H        -5     0.0
8       2002     3280     3130    A         7     0.0
9       2002     3323     3307    H        -3     0.0
10      2002     3336     3151    H        -9     0.0
11      2002     3364     3256    A         7     0.0
12      2002     3395     3231    H        -1     0.0
13      2002     3397     3209    H       -13     0.0
14      2002     3400     3453    H        -9     0.0
15      2002     3403     3372    H        -9     0.0
16      2002     3113     3458    A         1     0.0
17      2002     3140     3196    A         5     0.0
18      2002     3153     3389    H        -5     0.0
19      2002     3163     3384    H       -15     0.0
20      2002     3234     3438    A         1     0.0
21      2002     3235     3396    H       -11     0.0
22      2002     3278     3424    H        -7     0.0
23      2002     3314     3217    H        -9     0.0
24      2002     3328     3216    H       -15     0.0
25      2002     3330     3208    H        -3     0.0
26      2002     3345     3122    H       -13     0.0
27      2002     3376     3251    H       -11     0.0
28      2002     3390     3451    H       -13     0.0
29      2002     3408     3161    A         3     0.0
...      ...      ...      ...  ...       ...     ...
978     2017     3268     3452    H        -3     0.0
979     2017     3280     3177    H        -5     0.0
980     2017     3323     3345    H        -8     0.0
981     2017     3326     3246    A         1     0.0
982     2017     3333     3166    H        -5     0.0
983     2017     3376     3113    H        -7     0.0
984     2017     3400     3301    H        -3     0.0
985     2017     3124     3143    H        -8     0.0
986     2017     3163     3393    H        -7     0.0
987     2017     3257     3397    H        -1     0.0
988     2017     3332     3181    A         8     0.0
989     2017     3346     3274    A         8     0.0
990     2017     3390     3243    A        -5     0.0
991     2017     3417     3401    H        -1     0.0
992     2017     3449     3328    H        -3     0.0
993     2017     3124     3257    N        -3     0.0
994     2017     3280     3449    N        -1     0.0
995     2017     3323     3326    N        -4     0.0
996     2017     3390     3400    N        -1     1.0
997     2017     3163     3417    H        -3     0.0
998     2017     3199     3333    N         1     0.0
999     2017     3332     3268    N         7     0.0
1000    2017     3376     3346    N       -11     0.0
1001    2017     3280     3124    N         1     0.0
1002    2017     3390     3323    N         1     0.0
1003    2017     3163     3332    H        -9     0.0
1004    2017     3376     3199    N        -2     0.0
1005    2017     3280     3163    N         1     0.0
1006    2017     3376     3390    N        -1     0.0
1007    2017     3376     3280    N        -1     2.0

[1008 rows x 6 columns]

# Field Goal Percentage Data

In [188]:
df_field_goal.drop(labels=['Team', 'Kaggle Name', 'Ranking'], inplace=True, axis=1)
df_field_goal.drop(df_field_goal[df_field_goal.Season > 2017].index, inplace=True)
df_field_goal['FG Percentage'] = df_field_goal['FG Percentage'] / 100
df_field_goal['Kaggle TeamID'] = df_field_goal['Kaggle TeamID'].astype(int)
df_field_goal.head()
print(df_field_goal[(df_field_goal.Season == 2014) & (df_field_goal['Kaggle TeamID'] == 3119)])

      Season  FG Percentage  Kaggle TeamID
4066    2014          0.411           3119

In [189]:
df_win_fg = df_field_goal.rename(columns={'Kaggle TeamID':'WTeamID', 'FG Percentage':'WFGP'})
df_win_fg.head()
df_lose_fg = df_field_goal.rename(columns={'Kaggle TeamID':'LTeamID', 'FG Percentage':'LFGP'})
df_concat = pd.merge(left=df_concat, right=df_win_fg, how='inner', on=['Season', 'WTeamID'])
df_concat = pd.merge(left=df_concat, right=df_lose_fg, how='inner', on=['Season', 'LTeamID'])
df_concat['FG%Diff'] = df_concat.WFGP - df_concat.LFGP
df_concat.drop(labels=['WFGP', 'LFGP'], inplace=True, axis=1)

In [190]:
# Now we'll create a dataframe that summarizes wins & losses along with 
# their corresponding seed differences. This is the meat of what we'll be creating our model on.
df_wins = pd.DataFrame()
df_wins = df_concat.drop(labels=['Season', 'WTeamID', 'LTeamID', 'WLoc'], axis=1)
df_wins['Result'] = 1

df_losses = pd.DataFrame()
df_losses['SeedDiff'] = -df_concat['SeedDiff']
df_losses['Record'] = -df_concat['Record']
df_losses['FG%Diff'] = -df_concat['FG%Diff']
df_losses['Result'] = 0

df_predictions = pd.concat((df_wins, df_losses))
df_predictions = (df_predictions - df_predictions.min()) / (df_predictions.max() - df_predictions.min())
df_predictions

      SeedDiff    Record   FG%Diff  Result
0     0.333333  0.500000  0.553797     1.0
1     0.066667  0.500000  0.518987     1.0
2     0.133333  0.500000  0.639241     1.0
3     0.400000  0.666667  0.484177     1.0
4     0.533333  0.500000  0.433544     1.0
5     0.400000  0.500000  0.610759     1.0
6     0.666667  0.500000  0.518987     1.0
7     0.000000  0.500000  0.867089     1.0
8     0.266667  0.500000  0.731013     1.0
9     0.400000  0.500000  0.705696     1.0
10    0.433333  0.333333  0.620253     1.0
11    0.266667  0.500000  0.655063     1.0
12    0.133333  0.500000  0.620253     1.0
13    0.400000  0.500000  0.750000     1.0
14    0.333333  0.500000  0.585443     1.0
15    0.733333  0.500000  0.550633     1.0
16    0.400000  0.500000  0.534810     1.0
17    0.200000  0.500000  0.481013     1.0
18    0.466667  0.500000  0.443038     1.0
19    0.733333  0.500000  0.601266     1.0
20    0.466667  0.500000  0.544304     1.0
21    0.066667  0.500000  0.531646     1.0
22    0.333333  0.500000  0.579114     1.0
23    0.200000  0.500000  0.500000     1.0
24    0.533333  0.666667  0.265823     1.0
25    0.200000  0.500000  0.294304     1.0
26    0.233333  0.500000  0.379747     1.0
27    0.233333  0.500000  0.427215     1.0
28    0.533333  0.500000  0.411392     1.0
29    0.666667  0.500000  0.655063     1.0
...        ...       ...       ...     ...
1055  1.000000  0.500000  0.186709     0.0
1056  0.766667  0.500000  0.363924     0.0
1057  0.600000  0.500000  0.332278     0.0
1058  0.466667  0.500000  0.398734     0.0
1059  1.000000  0.500000  0.148734     0.0
1060  0.733333  0.500000  0.094937     0.0
1061  0.600000  0.500000  0.136076     0.0
1062  0.800000  0.500000  0.256329     0.0
1063  0.933333  0.500000  0.085443     0.0
1064  0.600000  0.500000  0.705696     0.0
1065  0.800000  0.333333  0.458861     0.0
1066  0.533333  0.500000  0.452532     0.0
1067  0.800000  0.500000  0.427215     0.0
1068  0.666667  0.500000  0.534810     0.0
1069  0.400000  0.500000  0.325949     0.0
1070  0.233333  0.500000  0.575949     0.0
1071  0.266667  0.500000  0.689873     0.0
1072  0.266667  0.500000  0.715190     0.0
1073  0.233333  0.500000  0.658228     0.0
1074  0.933333  0.500000  0.436709     0.0
1075  0.666667  0.500000  0.420886     0.0
1076  0.533333  0.333333  0.512658     0.0
1077  0.466667  0.500000  0.655063     0.0
1078  0.533333  0.500000  0.541139     0.0
1079  0.733333  0.500000  0.376582     0.0
1080  0.733333  0.500000  0.370253     0.0
1081  0.800000  0.500000  0.458861     0.0
1082  0.533333  0.500000  0.566456     0.0
1083  0.866667  0.500000  0.294304     0.0
1084  0.600000  0.500000  0.325949     0.0

[2170 rows x 4 columns]

In [191]:
X_train = df_predictions[['SeedDiff', 'FG%Diff']].values.reshape(-1,2)
y_train = df_predictions.Result.values
X_train, y_train = shuffle(X_train, y_train)

# Train the Model

In [192]:
# Use a basic logistic regression to train the model. You can set different C values to see how performance changes.
logreg = LogisticRegression()
params = {'C': np.logspace(start=-5, stop=3, num=9)}
clf = GridSearchCV(logreg, params, scoring='neg_log_loss', refit=True)
clf.fit(X_train, y_train)
print('Best log_loss: {:.4}, with best C: {}'.format(clf.best_score_, clf.best_params_['C']))

Best log_loss: -0.4434, with best C: 100.0

In [193]:
X = np.arange(-10, 10).reshape(-1, 1)
preds = clf.predict_proba(X)[:,1]

plt.figure()
plt.plot(X, preds)
plt.xlabel('Team1 seed - Team2 seed')
plt.ylabel('P(Team1 will win)')

ValueError: X has 1 features per sample; expecting 2

In [194]:
df_sample_sub = pd.read_csv(data_dir + 'WSampleSubmissionStage1.csv')
n_test_games = len(df_sample_sub)
def get_year_t1_t2(ID):
    """Return a tuple with ints `year`, `team1` and `team2`."""
    return (int(x) for x in ID.split('_'))

In [199]:
from sklearn.preprocessing import MinMaxScaler

X_test = np.zeros(shape=(n_test_games, 2))
for ii, row in df_sample_sub.iterrows():
    year, t1, t2 = get_year_t1_t2(row.ID)
    t1_seed = df_seeds[(df_seeds.TeamID == t1) & (df_seeds.Season == year)].seed_int.values[0]
    t2_seed = df_seeds[(df_seeds.TeamID == t2) & (df_seeds.Season == year)].seed_int.values[0]
    diff_seed = t1_seed - t2_seed
    X_test[ii, 0] = diff_seed
    
    t1_fgp = df_field_goal[(df_field_goal['Kaggle TeamID'] == t1) & (df_field_goal.Season == year)]['FG Percentage'].values[0]
    t2_fgp = df_field_goal[(df_field_goal['Kaggle TeamID'] == t2) & (df_field_goal.Season == year)]['FG Percentage'].values[0]
    diff_fgp = t1_fgp - t2_fgp
    X_test[ii, 1] = diff_fgp

scaler = MinMaxScaler()
scaler.fit(X_test)
X_test_normalized = scaler.transform(X_test)

In [205]:
preds = clf.predict_proba(X_test_normalized)[:,1]

clipped_preds = np.clip(preds, 0.05, 0.95)
df_sample_sub.Pred = clipped_preds
df_sample_sub

                  ID      Pred
0     2014_3103_3107  0.558566
1     2014_3103_3113  0.312261
2     2014_3103_3119  0.570564
3     2014_3103_3124  0.063559
4     2014_3103_3140  0.455601
5     2014_3103_3143  0.252510
6     2014_3103_3151  0.372921
7     2014_3103_3163  0.050000
8     2014_3103_3169  0.764926
9     2014_3103_3173  0.145365
10    2014_3103_3177  0.177535
11    2014_3103_3181  0.050000
12    2014_3103_3195  0.509313
13    2014_3103_3196  0.374938
14    2014_3103_3199  0.359595
15    2014_3103_3200  0.332322
16    2014_3103_3201  0.574780
17    2014_3103_3208  0.278817
18    2014_3103_3210  0.355638
19    2014_3103_3211  0.166897
20    2014_3103_3214  0.594299
21    2014_3103_3225  0.625703
22    2014_3103_3234  0.132990
23    2014_3103_3235  0.233505
24    2014_3103_3241  0.416092
25    2014_3103_3246  0.084484
26    2014_3103_3257  0.070935
27    2014_3103_3261  0.221400
28    2014_3103_3265  0.333597
29    2014_3103_3268  0.071887
...              ...       ...
8034  2017_3407_3452  0.063730
8035  2017_3407_3453  0.091388
8036  2017_3411_3417  0.050000
8037  2017_3411_3421  0.459163
8038  2017_3411_3442  0.311029
8039  2017_3411_3443  0.207380
8040  2017_3411_3449  0.050000
8041  2017_3411_3452  0.053027
8042  2017_3411_3453  0.076419
8043  2017_3417_3421  0.948389
8044  2017_3417_3442  0.907159
8045  2017_3417_3443  0.849918
8046  2017_3417_3449  0.312260
8047  2017_3417_3452  0.547922
8048  2017_3417_3453  0.641694
8049  2017_3421_3442  0.337437
8050  2017_3421_3443  0.227900
8051  2017_3421_3449  0.050000
8052  2017_3421_3452  0.059419
8053  2017_3421_3453  0.085376
8054  2017_3442_3443  0.356955
8055  2017_3442_3449  0.050000
8056  2017_3442_3452  0.106188
8057  2017_3442_3453  0.149333
8058  2017_3443_3449  0.071315
8059  2017_3443_3452  0.170115
8060  2017_3443_3453  0.232478
8061  2017_3449_3452  0.718841
8062  2017_3449_3453  0.790702
8063  2017_3452_3453  0.585965

[8064 rows x 2 columns]

In [206]:
# Create submission file!
df_sample_sub.to_csv('field_goal.csv', index=False)