# Preprocess data for machine learning

### March 3, 2018
### Tiffany Huang

In [333]:
%matplotlib inline
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
import matplotlib.pyplot as plt
from sklearn.utils import shuffle
from sklearn.model_selection import GridSearchCV

# Input data files are available in the "WDataFiles/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

from subprocess import check_output
print(check_output(["ls", "WDataFiles"]).decode("utf8"))

WCities.csv
WFieldGoalPercentage.csv
WFieldGoalPercentage_IDs.csv
WGameCities.csv
WNCAATourneyCompactResults.csv
WNCAATourneySeeds.csv
WNCAATourneySlots.csv
WReboundMargin.csv
WReboundMargin_IDs.csv
WRegularSeasonCompactResults.csv
WSampleSubmissionStage1.csv
WScoringMargin.csv
WScoringMargin_IDs.csv
WScoringOffense.csv
WScoringOffense_IDs.csv
WSeasons.csv
WTeamSpellings.csv
WTeams.csv
WTurnovers.csv
WTurnovers_IDs.csv
ranking_macro.xlsm

# Load the Training Data

In [291]:
data_dir = 'WDataFiles/'
df_seeds = pd.read_csv(data_dir + 'WNCAATourneySeeds.csv')
df_tourney = pd.read_csv(data_dir + 'WNCAATourneyCompactResults.csv')
df_reg_season = pd.read_csv(data_dir + 'WRegularSeasonCompactResults.csv')
df_field_goal = pd.read_csv(data_dir + 'WFieldGoalPercentage_IDs.csv')
df_rebounds = pd.read_csv(data_dir + 'WReboundMargin_IDs.csv')
df_scoring_offense = pd.read_csv(data_dir + 'WScoringOffense_IDs.csv')
df_turnovers = pd.read_csv(data_dir + 'WTurnovers_IDs.csv')

# Seeds Data

In [292]:
df_seeds.head()

   Season Seed  TeamID
0    1998  W01    3330
1    1998  W02    3163
2    1998  W03    3112
3    1998  W04    3301
4    1998  W05    3272

In [293]:
# First, we'll simplify the datasets to remove the columns we won't be using 
# and convert the seedings to the needed format (stripping the regional abbreviation in front of the seed).

# Get just the digits from the seeding. Return as int
def seed_to_int(seed):
    s_int = int(seed[1:3])
    return s_int

df_seeds.drop(df_seeds[df_seeds.Season < 2002].index, inplace=True)
df_seeds.index = range(len(df_seeds))
df_seeds['seed_int'] = df_seeds.Seed.apply(seed_to_int)
df_seeds.drop(labels=['Seed'], inplace=True, axis=1) # This is the string label
df_seeds.head()

   Season  TeamID  seed_int
0    2002    3181         1
1    2002    3124         2
2    2002    3376         3
3    2002    3400         4
4    2002    3256         5

# Tournament Data

In [294]:
df_tourney.drop(labels=['DayNum', 'WScore', 'LScore', 'NumOT', 'WLoc'], inplace=True, axis=1)
df_tourney.drop(df_tourney[df_tourney.Season < 2002].index, inplace=True)
df_tourney.index = range(len(df_tourney))
df_tourney.head()

   Season  WTeamID  LTeamID
0    2002     3116     3155
1    2002     3124     3137
2    2002     3160     3380
3    2002     3179     3393
4    2002     3181     3313

In [295]:
# Merge the Seeds with their corresponding TeamIDs in the compact results dataframe.
df_winseeds = df_seeds.rename(columns={'TeamID':'WTeamID', 'seed_int':'WSeed'})
df_lossseeds = df_seeds.rename(columns={'TeamID':'LTeamID', 'seed_int':'LSeed'})
df_dummy = pd.merge(left=df_tourney, right=df_winseeds, how='left', on=['Season', 'WTeamID'])
df_concat = pd.merge(left=df_dummy, right=df_lossseeds, on=['Season', 'LTeamID'])
df_concat['SeedDiff'] = df_concat.WSeed - df_concat.LSeed
df_concat.drop(labels=['WSeed', 'LSeed'], inplace=True, axis=1)
df_concat.head()

   Season  WTeamID  LTeamID  SeedDiff
0    2002     3116     3155        -5
1    2002     3124     3137       -13
2    2002     3160     3380       -11
3    2002     3179     3393        -3
4    2002     3181     3313       -15

# Regular Season Data

df_reg_season.drop(labels=['DayNum', 'WScore', 'LScore', 'WLoc', 'NumOT'], inplace=True, axis=1)
df_reg_season.drop(df_reg_season[df_reg_season.Season < 2002].index, inplace=True)
df_reg_season.index = range(len(df_reg_season))
df_reg_season.head()

# Find the record during the regular season between two teams
def regSeasonToRecord(df):
    record_dict = {}
    for row in df.itertuples():
        if (row[1] not in record_dict):
            record_dict[row[1]] = {}
        else:
            if ((row[2], row[3]) in record_dict[row[1]]):
                record_dict[row[1]][(row[2], row[3])] += 1
            else:
                record_dict[row[1]][(row[2], row[3])] = 1
    return record_dict

record_dict = regSeasonToRecord(df_reg_season)

# Add the record between the winning and losing teams to the table
# Iterate through df_concat rows, look for record in dictionary between WTeam and LTeam and add it to the row
df_record = pd.DataFrame()
for row in df_concat.itertuples():
    if ((row[2], row[3]) in record_dict[row[1]]):
        df_record = df_record.append(pd.DataFrame([record_dict[row[1]][(row[2], row[3])]], columns=['Record']), ignore_index=True)
    elif ((row[3], row[2]) in record_dict[row[1]]):
        df_record = df_record.append(pd.DataFrame([-1.0 * record_dict[row[1]][(row[3], row[2])]], columns=['Record']), ignore_index=True)
    else:
        df_record = df_record.append(pd.DataFrame([0], columns=['Record']), ignore_index=True)

df_concat = pd.concat([df_concat, df_record], axis=1)
df_concat

# Field Goal Percentage Data

In [296]:
df_field_goal.drop(labels=['Team', 'Kaggle Name', 'Ranking'], inplace=True, axis=1)
df_field_goal.drop(df_field_goal[df_field_goal.Season > 2017].index, inplace=True)
df_field_goal['FG Percentage'] = df_field_goal['FG Percentage'] / 100
df_field_goal['Kaggle TeamID'] = df_field_goal['Kaggle TeamID'].astype(int)
df_field_goal.head()

   Season  FG Percentage  Kaggle TeamID
0    2002          0.521           3435
1    2002          0.520           3163
2    2002          0.494           3243
3    2002          0.493           3278
4    2002          0.490           3181

In [297]:
df_win_fg = df_field_goal.rename(columns={'Kaggle TeamID':'WTeamID', 'FG Percentage':'WFGP'})
df_lose_fg = df_field_goal.rename(columns={'Kaggle TeamID':'LTeamID', 'FG Percentage':'LFGP'})
df_concat = pd.merge(left=df_concat, right=df_win_fg, how='inner', on=['Season', 'WTeamID'])
df_concat = pd.merge(left=df_concat, right=df_lose_fg, how='inner', on=['Season', 'LTeamID'])
df_concat['FG%Diff'] = df_concat.WFGP - df_concat.LFGP
df_concat.drop(labels=['WFGP', 'LFGP'], inplace=True, axis=1)

# Rebound Margin Data

In [298]:
df_rebounds.drop(labels=['Team', 'Kaggle Name', 'Ranking', 'Rebound Margin'], inplace=True, axis=1)
df_rebounds.drop(df_rebounds[df_rebounds.Season > 2017].index, inplace=True)
df_rebounds['Kaggle TeamID'] = df_rebounds['Kaggle TeamID'].astype(int)
df_rebounds.head()

   Season   RPG  Kaggle TeamID
0    2002  45.5           3163
1    2002  48.6           3256
2    2002  42.8           3330
3    2002  43.7           3198
4    2002  44.6           3412

In [299]:
df_win_rpg = df_rebounds.rename(columns={'Kaggle TeamID':'WTeamID', 'RPG':'WRPG'})
df_lose_rpg = df_rebounds.rename(columns={'Kaggle TeamID':'LTeamID', 'RPG':'LRPG'})
df_concat = pd.merge(left=df_concat, right=df_win_rpg, how='inner', on=['Season', 'WTeamID'])
df_concat = pd.merge(left=df_concat, right=df_lose_rpg, how='inner', on=['Season', 'LTeamID'])
df_concat['ReboundDiff'] = df_concat.WRPG - df_concat.LRPG
df_concat.drop(labels=['WRPG', 'LRPG'], inplace=True, axis=1)
df_concat.head()

   Season  WTeamID  LTeamID  SeedDiff  FG%Diff  ReboundDiff
0    2002     3116     3155        -5    0.017         -1.3
1    2002     3124     3137       -13    0.006          5.5
2    2002     3160     3380       -11    0.044         -0.8
3    2002     3160     3261        -3   -0.005          2.6
4    2002     3160     3390         1   -0.021         -4.7

# Scoring Data

In [300]:
df_scoring_offense.drop(labels=['Team', 'Kaggle Name', 'Rank','Losses','Total Points'], inplace=True, axis=1)
df_scoring_offense.drop(df_field_goal[df_scoring_offense.Season > 2017].index, inplace=True)
df_scoring_offense['Win%'] = df_scoring_offense['Wins'] / df_scoring_offense['Games Played']
df_scoring_offense['Kaggle TeamID'] = df_scoring_offense['Kaggle TeamID'].astype(int)
df_scoring_offense.head()

/Users/tiffany/miniconda3/envs/carnd-term1/lib/python3.5/site-packages/ipykernel/__main__.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  from ipykernel import kernelapp as app

   Season  Games Played  Wins   PPG  Kaggle TeamID      Win%
0    2002            39    39  87.0           3163  1.000000
1    2002            35    31  83.5           3181  0.885714
2    2002            31    23  80.9           3184  0.741935
3    2002            35    32  80.3           3390  0.914286
4    2002            35    26  79.9           3314  0.742857

In [301]:
df_win_ppg = df_scoring_offense.rename(columns={'Kaggle TeamID':'WTeamID', 'PPG':'WPPG'})
df_win_ppg.drop(labels=['Games Played','Wins','Win%'], inplace=True, axis=1)
df_lose_ppg = df_scoring_offense.rename(columns={'Kaggle TeamID':'LTeamID', 'PPG':'LPPG'})
df_lose_ppg.drop(labels=['Games Played','Wins','Win%'], inplace=True, axis=1)
df_concat = pd.merge(left=df_concat, right=df_win_ppg, how='inner', on=['Season', 'WTeamID'])
df_concat = pd.merge(left=df_concat, right=df_lose_ppg, how='inner', on=['Season', 'LTeamID'])
df_concat['PPGDiff'] = df_concat.WPPG - df_concat.LPPG
df_concat.drop(labels=['WPPG', 'LPPG'], inplace=True, axis=1)
df_concat.head()

   Season  WTeamID  LTeamID  SeedDiff  FG%Diff  ReboundDiff  PPGDiff
0    2002     3116     3155        -5    0.017         -1.3      5.6
1    2002     3124     3137       -13    0.006          5.5      5.7
2    2002     3160     3380       -11    0.044         -0.8      7.8
3    2002     3160     3261        -3   -0.005          2.6      3.2
4    2002     3160     3390         1   -0.021         -4.7     -4.2

In [302]:
df_win_win_percent = df_scoring_offense.rename(columns={'Kaggle TeamID':'WTeamID', 'Win%':'WWin%'})
df_win_win_percent.drop(labels=['Games Played', 'Wins', 'PPG'], inplace=True, axis=1)
df_lose_win_percent = df_scoring_offense.rename(columns={'Kaggle TeamID':'LTeamID', 'Win%':'LWin%'})
df_lose_win_percent.drop(labels=['Games Played', 'Wins', 'PPG'], inplace=True, axis=1)
df_concat = pd.merge(left=df_concat, right=df_win_win_percent, how='inner', on=['Season', 'WTeamID'])
df_concat = pd.merge(left=df_concat, right=df_lose_win_percent, how='inner', on=['Season', 'LTeamID'])
df_concat['Win%Diff'] = df_concat['WWin%'] - df_concat['LWin%']
df_concat.drop(labels=['WWin%', 'LWin%'], inplace=True, axis=1)
df_concat.head()

   Season  WTeamID  LTeamID  SeedDiff  FG%Diff  ReboundDiff  PPGDiff  Win%Diff
0    2002     3116     3155        -5    0.017         -1.3      5.6  0.038793
1    2002     3124     3137       -13    0.006          5.5      5.7  0.140762
2    2002     3160     3380       -11    0.044         -0.8      7.8 -0.132827
3    2002     3160     3261        -3   -0.005          2.6      3.2  0.105882
4    2002     3160     3390         1   -0.021         -4.7     -4.2 -0.208403

# Turnover Data

In [303]:
df_turnovers.drop(labels=['Team', 'Kaggle Name', 'Ranking'], inplace=True, axis=1)
df_turnovers.drop(df_turnovers[df_turnovers.Season > 2017].index, inplace=True)
df_turnovers['Kaggle TeamID'] = df_turnovers['Kaggle TeamID'].astype(int)
df_turnovers.head()

   Season  TOPG  Kaggle TeamID
0    2002  11.3           3437
1    2002  12.6           3375
2    2002  13.5           3261
3    2002  13.5           3153
4    2002  13.5           3116

In [304]:
df_win_turnovers = df_turnovers.rename(columns={'Kaggle TeamID':'WTeamID', 'TOPG':'WTOPG'})
df_lose_turnovers = df_turnovers.rename(columns={'Kaggle TeamID':'LTeamID', 'TOPG':'LTOPG'})
df_concat = pd.merge(left=df_concat, right=df_win_turnovers, how='inner', on=['Season', 'WTeamID'])
df_concat = pd.merge(left=df_concat, right=df_lose_turnovers, how='inner', on=['Season', 'LTeamID'])
df_concat['TOPGDiff'] = df_concat.WTOPG - df_concat.LTOPG
df_concat.drop(labels=['WTOPG', 'LTOPG'], inplace=True, axis=1)
df_concat.head()

,Season,WTeamID,LTeamID,SeedDiff,FG%Diff,ReboundDiff,PPGDiff,Win%Diff,TOPGDiff
0,2002,3116,3155,-5,0.017,-1.3,5.6,0.038793,-1.6
1,2002,3124,3137,-13,0.006,5.5,5.7,0.140762,-2.0
2,2002,3160,3380,-11,0.044,-0.8,7.8,-0.132827,-2.2
3,2002,3160,3261,-3,-0.005,2.6,3.2,0.105882,0.9
4,2002,3160,3390,1,-0.021,-4.7,-4.2,-0.208403,-2.2

In [305]:
# Now we'll create a dataframe that summarizes wins & losses along with 
# their corresponding seed differences. This is the meat of what we'll be creating our model on.
df_wins = pd.DataFrame()
df_wins = df_concat.drop(labels=['Season', 'WTeamID', 'LTeamID'], axis=1)
df_wins['Result'] = 1

df_losses = pd.DataFrame()
df_losses['SeedDiff'] = -df_concat['SeedDiff']
df_losses['FG%Diff'] = -df_concat['FG%Diff']
df_losses['ReboundDiff'] = -df_concat['ReboundDiff']
df_losses['PPGDiff'] = -df_concat['PPGDiff']
df_losses['Win%Diff'] = -df_concat['Win%Diff']
df_losses['TOPGDiff'] = -df_concat['TOPGDiff']
df_losses['Result'] = 0

df_predictions = pd.concat((df_wins, df_losses))
df_predictions = (df_predictions - df_predictions.min()) / (df_predictions.max() - df_predictions.min())
df_predictions

       SeedDiff   FG%Diff  ReboundDiff   PPGDiff  Win%Diff  TOPGDiff  Result
0      0.333333  0.553797     0.452206  0.591803  0.526367  0.430435     1.0
1      0.066667  0.518987     0.702206  0.593443  0.595673  0.413043     1.0
2      0.133333  0.639241     0.470588  0.627869  0.409720  0.404348     1.0
3      0.400000  0.484177     0.595588  0.552459  0.571966  0.539130     1.0
4      0.533333  0.433544     0.327206  0.431148  0.358353  0.404348     1.0
5      0.400000  0.610759     0.507353  0.575410  0.620256  0.478261     1.0
6      0.666667  0.518987     0.275735  0.434426  0.458807  0.447826     1.0
7      0.000000  0.867089     0.419118  0.757377  0.619648  0.395652     1.0
8      0.266667  0.731013     0.437500  0.700000  0.575798  0.386957     1.0
9      0.400000  0.705696     0.477941  0.713115  0.634722  0.426087     1.0
10     0.433333  0.620253     0.551471  0.672131  0.571002  0.465217     1.0
11     0.266667  0.655063     0.738971  0.562295  0.529898  0.691304     1.0
12     0.133333  0.620253     0.481618  0.570492  0.581252  0.413043     1.0
13     0.400000  0.750000     0.518382  0.557377  0.594955  0.673913     1.0
14     0.333333  0.585443     0.363971  0.447541  0.447380  0.343478     1.0
15     0.733333  0.550633     0.525735  0.647541  0.412300  0.626087     1.0
16     0.400000  0.534810     0.555147  0.493443  0.470767  0.560870     1.0
17     0.200000  0.481013     0.378676  0.468852  0.442368  0.465217     1.0
18     0.466667  0.443038     0.301471  0.483607  0.390545  0.386957     1.0
19     0.733333  0.601266     0.301471  0.491803  0.485840  0.652174     1.0
20     0.466667  0.544304     0.661765  0.570492  0.653476  0.600000     1.0
21     0.066667  0.531646     0.735294  0.637705  0.619298  0.473913     1.0
22     0.333333  0.579114     0.544118  0.737705  0.626607  0.486957     1.0
23     0.200000  0.500000     0.779412  0.619672  0.585414  0.608696     1.0
24     0.533333  0.265823     0.838235  0.621311  0.528635  0.617391     1.0
25     0.200000  0.294304     0.816176  0.460656  0.441076  0.647826     1.0
26     0.233333  0.379747     0.430147  0.413115  0.415040  0.452174     1.0
27     0.233333  0.427215     0.584559  0.426230  0.508222  0.391304     1.0
28     0.533333  0.411392     0.474265  0.416393  0.583186  0.413043     1.0
29     0.666667  0.655063     0.205882  0.537705  0.572442  0.413043     1.0
...         ...       ...          ...       ...       ...       ...     ...
10503  1.000000  0.186709     0.047794  0.027869  0.367516  0.786957     0.0
10504  0.766667  0.363924     0.014706  0.159016  0.293611  0.656522     0.0
10505  0.600000  0.332278     0.136029  0.255738  0.426521  0.534783     0.0
10506  0.466667  0.398734     0.316176  0.413115  0.524988  0.382609     0.0
10507  1.000000  0.148734     0.488971  0.157377  0.271214  0.834783     0.0
10508  0.733333  0.094937     0.536765  0.360656  0.291810  0.569565     0.0
10509  0.600000  0.136076     0.544118  0.286885  0.338455  0.491304     0.0
10510  0.800000  0.256329     0.437500  0.234426  0.261194  0.591304     0.0
10511  0.933333  0.085443     0.448529  0.283607  0.352191  0.482609     0.0
10512  0.600000  0.705696     0.584559  0.740984  0.616914  0.526087     0.0
10513  0.800000  0.458861     0.242647  0.314754  0.413318  0.426087     0.0
10514  0.533333  0.452532     0.488971  0.478689  0.392078  0.465217     0.0
10515  0.800000  0.427215     0.430147  0.496721  0.510592  0.347826     0.0
10516  0.666667  0.534810     0.555147  0.467213  0.561789  0.469565     0.0
10517  0.400000  0.325949     0.650735  0.483607  0.587256  0.465217     0.0
10518  0.233333  0.575949     0.555147  0.545902  0.637232  0.565217     0.0
10519  0.266667  0.689873     0.768382  0.801639  0.698918  0.530435     0.0
10520  0.266667  0.715190     0.562500  0.670492  0.467389  0.382609     0.0
10521  0.233333  0.658228     0.488971  0.560656  0.446793  0.552174     0.0
10522  0.933333  0.436709     0.408088  0.462295  0.453842  0.560870     0.0
10523  0.666667  0.420886     0.356618  0.431148  0.387422  0.547826     0.0
10524  0.533333  0.512658     0.573529  0.537705  0.427403  0.556522     0.0
10525  0.466667  0.655063     0.433824  0.637705  0.533839  0.447826     0.0
10526  0.533333  0.541139     0.481618  0.421311  0.441533  0.447826     0.0
10527  0.733333  0.376582     0.525735  0.377049  0.542480  0.573913     0.0
10528  0.733333  0.370253     0.551471  0.378689  0.558639  0.400000     0.0
10529  0.800000  0.458861     0.459559  0.411475  0.515144  0.639130     0.0
10530  0.533333  0.566456     0.422794  0.411475  0.440028  0.586957     0.0
10531  0.866667  0.294304     0.566176  0.291803  0.467837  0.717391     0.0
10532  0.600000  0.325949     0.400735  0.319672  0.410553  0.717391     0.0

[21066 rows x 7 columns]

In [306]:
X_train = df_predictions[['SeedDiff','FG%Diff','ReboundDiff','PPGDiff','Win%Diff','TOPGDiff']].values.reshape(-1,6)
y_train = df_predictions.Result.values
X_train, y_train = shuffle(X_train, y_train)

# Train the Model

In [325]:
# Use a basic logistic regression to train the model. You can set different C values to see how performance changes.
logreg = LogisticRegression()
params = {'C': np.logspace(start=-5, stop=3, num=9)}
clf = GridSearchCV(logreg, params, scoring='neg_log_loss', refit=True)
clf.fit(X_train, y_train)
print('Best log_loss: {:.4}, with best C: {}'.format(clf.best_score_, clf.best_params_['C']))

Best log_loss: -0.448, with best C: 100.0

forest = RandomForestClassifier()
params = {'max_depth': np.logspace(start=2, stop=10, num=13)}
clf = GridSearchCV(forest, params, scoring='neg_log_loss', refit=True)
clf.fit(X_train, y_train)
print('Best log_loss: {:.4}, with best depth: {}'.format(clf.best_score_, clf.best_params_['max_depth']))

In [334]:
boosting = GradientBoostingClassifier()
params = {'learning_rate': np.logspace(start=0.1, stop=1, num=10)}
clf = GridSearchCV(boosting, params, scoring='neg_log_loss', refit=True)
clf.fit(X_train, y_train)

print('Best log_loss: {:.4}, with best learning rate: {}'.format(clf.best_score_, clf.best_params_['learning_rate']))

Best log_loss: -0.1227, with best learning rate: 1.2589254117941673

In [335]:
df_sample_sub = pd.read_csv(data_dir + 'WSampleSubmissionStage1.csv')
n_test_games = len(df_sample_sub)
def get_year_t1_t2(ID):
    """Return a tuple with ints `year`, `team1` and `team2`."""
    return (int(x) for x in ID.split('_'))

In [336]:
from sklearn.preprocessing import MinMaxScaler

X_test = np.zeros(shape=(n_test_games, 6))
for ii, row in df_sample_sub.iterrows():
    year, t1, t2 = get_year_t1_t2(row.ID)
    t1_seed = df_seeds[(df_seeds.TeamID == t1) & (df_seeds.Season == year)].seed_int.values[0]
    t2_seed = df_seeds[(df_seeds.TeamID == t2) & (df_seeds.Season == year)].seed_int.values[0]
    diff_seed = t1_seed - t2_seed
    X_test[ii, 0] = diff_seed
    
    t1_fgp = df_field_goal[(df_field_goal['Kaggle TeamID'] == t1) & (df_field_goal.Season == year)]['FG Percentage'].values[0]
    t2_fgp = df_field_goal[(df_field_goal['Kaggle TeamID'] == t2) & (df_field_goal.Season == year)]['FG Percentage'].values[0]
    diff_fgp = t1_fgp - t2_fgp
    X_test[ii, 1] = diff_fgp
    
    t1_rpg = df_rebounds[(df_rebounds['Kaggle TeamID'] == t1) & (df_rebounds.Season == year)]['RPG'].values[0]
    t2_rpg = df_rebounds[(df_rebounds['Kaggle TeamID'] == t2) & (df_rebounds.Season == year)]['RPG'].values[0]
    diff_rpg = t1_rpg - t2_rpg
    X_test[ii, 2] = diff_rpg
    
    t1_ppg = df_scoring_offense[(df_scoring_offense['Kaggle TeamID'] == t1) & 
                                (df_scoring_offense.Season == year)]['PPG'].values[0]
    t2_ppg = df_scoring_offense[(df_scoring_offense['Kaggle TeamID'] == t2) & 
                                (df_scoring_offense.Season == year)]['PPG'].values[0]
    diff_ppg = t1_ppg - t2_ppg
    X_test[ii, 3] = diff_ppg
    
    t1_win_percent = df_scoring_offense[(df_scoring_offense['Kaggle TeamID'] == t1) & (df_scoring_offense.Season == year)]['Win%'].values[0]
    t2_win_percent = df_scoring_offense[(df_scoring_offense['Kaggle TeamID'] == t2) & (df_scoring_offense.Season == year)]['Win%'].values[0]
    diff_win_percent = t1_win_percent - t2_win_percent
    X_test[ii, 4] = diff_win_percent
    
    t1_topg = df_turnovers[(df_turnovers['Kaggle TeamID'] == t1) & (df_turnovers.Season == year)]['TOPG'].values[0]
    t2_topg = df_turnovers[(df_turnovers['Kaggle TeamID'] == t2) & (df_turnovers.Season == year)]['TOPG'].values[0]
    diff_topg = t1_topg - t2_topg
    X_test[ii, 5] = diff_topg

scaler = MinMaxScaler()
scaler.fit(X_test)
X_test_normalized = scaler.transform(X_test)

In [324]:
preds = clf.predict_proba(X_test_normalized)[:,1]

clipped_preds = np.clip(preds, 0.05, 0.95)
df_sample_sub.Pred = clipped_preds
df_sample_sub

                  ID      Pred
0     2014_3103_3107  0.496962
1     2014_3103_3113  0.487266
2     2014_3103_3119  0.503814
3     2014_3103_3124  0.312532
4     2014_3103_3140  0.494152
5     2014_3103_3143  0.494373
6     2014_3103_3151  0.491940
7     2014_3103_3163  0.324235
8     2014_3103_3169  0.507020
9     2014_3103_3173  0.482966
10    2014_3103_3177  0.483818
11    2014_3103_3181  0.308923
12    2014_3103_3195  0.502420
13    2014_3103_3196  0.493416
14    2014_3103_3199  0.513497
15    2014_3103_3200  0.498207
16    2014_3103_3201  0.506223
17    2014_3103_3208  0.490042
18    2014_3103_3210  0.494921
19    2014_3103_3211  0.488151
20    2014_3103_3214  0.501077
21    2014_3103_3225  0.503162
22    2014_3103_3234  0.490135
23    2014_3103_3235  0.490824
24    2014_3103_3241  0.498185
25    2014_3103_3246  0.315493
26    2014_3103_3257  0.308923
27    2014_3103_3261  0.490042
28    2014_3103_3265  0.491400
29    2014_3103_3268  0.483996
...              ...       ...
8034  2017_3407_3452  0.483450
8035  2017_3407_3453  0.490527
8036  2017_3411_3417  0.179834
8037  2017_3411_3421  0.323820
8038  2017_3411_3442  0.317175
8039  2017_3411_3443  0.308080
8040  2017_3411_3449  0.179094
8041  2017_3411_3452  0.315881
8042  2017_3411_3453  0.480830
8043  2017_3417_3421  0.676811
8044  2017_3417_3442  0.676528
8045  2017_3417_3443  0.509733
8046  2017_3417_3449  0.491881
8047  2017_3417_3452  0.513182
8048  2017_3417_3453  0.505213
8049  2017_3421_3442  0.494480
8050  2017_3421_3443  0.486679
8051  2017_3421_3449  0.316874
8052  2017_3421_3452  0.310907
8053  2017_3421_3453  0.486593
8054  2017_3442_3443  0.497883
8055  2017_3442_3449  0.319828
8056  2017_3442_3452  0.495339
8057  2017_3442_3453  0.485886
8058  2017_3443_3449  0.487261
8059  2017_3443_3452  0.501006
8060  2017_3443_3453  0.482966
8061  2017_3449_3452  0.520255
8062  2017_3449_3453  0.512524
8063  2017_3452_3453  0.498382

[8064 rows x 2 columns]

In [319]:
# Create submission file!
df_sample_sub.to_csv('forest_all_data.csv', index=False)