# Preprocess data for machine learning

### March 3, 2018
### Tiffany Huang

%matplotlib inline
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
import matplotlib.pyplot as plt
from sklearn.utils import shuffle
from sklearn.model_selection import GridSearchCV

# Input data files are available in the "WDataFiles/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

from subprocess import check_output
print(check_output(["ls", "WDataFiles"]).decode("utf8"))

In [367]:
%matplotlib inline
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
import matplotlib.pyplot as plt
from sklearn.utils import shuffle
from sklearn.model_selection import GridSearchCV

# Input data files are available in the "WDataFiles/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

from subprocess import check_output
print(check_output(["ls", "WStage2DataFiles"]).decode("utf8"))

WCities.csv
WFieldGoalPercentage_IDs.csv
WGameCities.csv
WNCAATourneyCompactResults.csv
WNCAATourneyDetailedResults.csv
WNCAATourneySeeds.csv
WNCAATourneySlots.csv
WReboundMargin_IDs.csv
WRegularSeasonCompactResults.csv
WRegularSeasonDetailedResults.csv
WSampleSubmissionStage2.csv
WScoringOffense_IDs.csv
WSeasons.csv
WTeamSpellings.csv
WTeams.csv
WTurnovers_IDs.csv

# Load the Training Data

In [368]:
data_dir = 'WStage2DataFiles/'
df_seeds = pd.read_csv(data_dir + 'WNCAATourneySeeds.csv')
df_tourney = pd.read_csv(data_dir + 'WNCAATourneyCompactResults.csv')
df_reg_season = pd.read_csv(data_dir + 'WRegularSeasonCompactResults.csv')
df_field_goal = pd.read_csv(data_dir + 'WFieldGoalPercentage_IDs.csv')
df_rebounds = pd.read_csv(data_dir + 'WReboundMargin_IDs.csv')
df_scoring_offense = pd.read_csv(data_dir + 'WScoringOffense_IDs.csv')
df_turnovers = pd.read_csv(data_dir + 'WTurnovers_IDs.csv')

# Seeds Data

In [369]:
df_seeds.head()

   Season Seed  TeamID
0    1998  W01    3330
1    1998  W02    3163
2    1998  W03    3112
3    1998  W04    3301
4    1998  W05    3272

In [370]:
# First, we'll simplify the datasets to remove the columns we won't be using 
# and convert the seedings to the needed format (stripping the regional abbreviation in front of the seed).

# Get just the digits from the seeding. Return as int
def seed_to_int(seed):
    s_int = int(seed[1:3])
    return s_int

df_seeds.drop(df_seeds[df_seeds.Season < 2002].index, inplace=True)
df_seeds.index = range(len(df_seeds))
df_seeds['seed_int'] = df_seeds.Seed.apply(seed_to_int)
df_seeds.drop(labels=['Seed'], inplace=True, axis=1) # This is the string label
df_seeds.head()

   Season  TeamID  seed_int
0    2002    3181         1
1    2002    3124         2
2    2002    3376         3
3    2002    3400         4
4    2002    3256         5

# Tournament Data

In [371]:
df_tourney.drop(labels=['DayNum', 'WScore', 'LScore', 'NumOT', 'WLoc'], inplace=True, axis=1)
df_tourney.drop(df_tourney[df_tourney.Season < 2002].index, inplace=True)
df_tourney.index = range(len(df_tourney))
df_tourney.head()

   Season  WTeamID  LTeamID
0    2002     3116     3155
1    2002     3124     3137
2    2002     3160     3380
3    2002     3179     3393
4    2002     3181     3313

In [372]:
# Merge the Seeds with their corresponding TeamIDs in the compact results dataframe.
df_winseeds = df_seeds.rename(columns={'TeamID':'WTeamID', 'seed_int':'WSeed'})
df_lossseeds = df_seeds.rename(columns={'TeamID':'LTeamID', 'seed_int':'LSeed'})
df_dummy = pd.merge(left=df_tourney, right=df_winseeds, how='left', on=['Season', 'WTeamID'])
df_concat = pd.merge(left=df_dummy, right=df_lossseeds, on=['Season', 'LTeamID'])
df_concat['SeedDiff'] = df_concat.WSeed - df_concat.LSeed
df_concat.drop(labels=['WSeed', 'LSeed'], inplace=True, axis=1)
df_concat.head()

   Season  WTeamID  LTeamID  SeedDiff
0    2002     3116     3155        -5
1    2002     3124     3137       -13
2    2002     3160     3380       -11
3    2002     3179     3393        -3
4    2002     3181     3313       -15

# Regular Season Data

df_reg_season.drop(labels=['DayNum', 'WScore', 'LScore', 'WLoc', 'NumOT'], inplace=True, axis=1)
df_reg_season.drop(df_reg_season[df_reg_season.Season < 2002].index, inplace=True)
df_reg_season.index = range(len(df_reg_season))
df_reg_season.head()

# Find the record during the regular season between two teams
def regSeasonToRecord(df):
    record_dict = {}
    for row in df.itertuples():
        if (row[1] not in record_dict):
            record_dict[row[1]] = {}
        else:
            if ((row[2], row[3]) in record_dict[row[1]]):
                record_dict[row[1]][(row[2], row[3])] += 1
            else:
                record_dict[row[1]][(row[2], row[3])] = 1
    return record_dict

record_dict = regSeasonToRecord(df_reg_season)

# Add the record between the winning and losing teams to the table
# Iterate through df_concat rows, look for record in dictionary between WTeam and LTeam and add it to the row
df_record = pd.DataFrame()
for row in df_concat.itertuples():
    if ((row[2], row[3]) in record_dict[row[1]]):
        df_record = df_record.append(pd.DataFrame([record_dict[row[1]][(row[2], row[3])]], columns=['Record']), ignore_index=True)
    elif ((row[3], row[2]) in record_dict[row[1]]):
        df_record = df_record.append(pd.DataFrame([-1.0 * record_dict[row[1]][(row[3], row[2])]], columns=['Record']), ignore_index=True)
    else:
        df_record = df_record.append(pd.DataFrame([0], columns=['Record']), ignore_index=True)

df_concat = pd.concat([df_concat, df_record], axis=1)
df_concat

# Field Goal Percentage Data

In [373]:
df_field_goal.drop(labels=['Team', 'Kaggle Name', 'Ranking'], inplace=True, axis=1)
df_field_goal['FG Percentage'] = df_field_goal['FG Percentage'] / 100
df_field_goal['Kaggle TeamID'] = df_field_goal['Kaggle TeamID'].astype(int)
df_field_goal.head()

   Season  FG Percentage  Kaggle TeamID
0    2002          0.521           3435
1    2002          0.520           3163
2    2002          0.494           3243
3    2002          0.493           3278
4    2002          0.490           3181

In [374]:
df_win_fg = df_field_goal.rename(columns={'Kaggle TeamID':'WTeamID', 'FG Percentage':'WFGP'})
df_lose_fg = df_field_goal.rename(columns={'Kaggle TeamID':'LTeamID', 'FG Percentage':'LFGP'})
df_concat = pd.merge(left=df_concat, right=df_win_fg, how='inner', on=['Season', 'WTeamID'])
df_concat = pd.merge(left=df_concat, right=df_lose_fg, how='inner', on=['Season', 'LTeamID'])
df_concat['FG%Diff'] = df_concat.WFGP - df_concat.LFGP
df_concat.drop(labels=['WFGP', 'LFGP'], inplace=True, axis=1)

# Rebound Margin Data

In [375]:
df_rebounds.drop(labels=['Team', 'Kaggle Name', 'Ranking', 'Rebound Margin'], inplace=True, axis=1)
df_rebounds['Kaggle TeamID'] = df_rebounds['Kaggle TeamID'].astype(int)
df_rebounds.head()

   Season   RPG  Kaggle TeamID
0    2002  45.5           3163
1    2002  48.6           3256
2    2002  42.8           3330
3    2002  43.7           3198
4    2002  44.6           3412

In [376]:
df_win_rpg = df_rebounds.rename(columns={'Kaggle TeamID':'WTeamID', 'RPG':'WRPG'})
df_lose_rpg = df_rebounds.rename(columns={'Kaggle TeamID':'LTeamID', 'RPG':'LRPG'})
df_concat = pd.merge(left=df_concat, right=df_win_rpg, how='inner', on=['Season', 'WTeamID'])
df_concat = pd.merge(left=df_concat, right=df_lose_rpg, how='inner', on=['Season', 'LTeamID'])
df_concat['ReboundDiff'] = df_concat.WRPG - df_concat.LRPG
df_concat.drop(labels=['WRPG', 'LRPG'], inplace=True, axis=1)
df_concat.head()

   Season  WTeamID  LTeamID  SeedDiff  FG%Diff  ReboundDiff
0    2002     3116     3155        -5    0.017         -1.3
1    2002     3124     3137       -13    0.006          5.5
2    2002     3160     3380       -11    0.044         -0.8
3    2002     3160     3261        -3   -0.005          2.6
4    2002     3160     3390         1   -0.021         -4.7

# Scoring Data

In [377]:
df_scoring_offense.drop(labels=['Team', 'Kaggle Name', 'Rank','Losses','Total Points'], inplace=True, axis=1)
df_scoring_offense['Win%'] = df_scoring_offense['Wins'] / df_scoring_offense['Games Played']
df_scoring_offense['Kaggle TeamID'] = df_scoring_offense['Kaggle TeamID'].astype(int)
df_scoring_offense.head()

   Season  Games Played  Wins   PPG  Kaggle TeamID      Win%
0    2002            39    39  87.0           3163  1.000000
1    2002            35    31  83.5           3181  0.885714
2    2002            31    23  80.9           3184  0.741935
3    2002            35    32  80.3           3390  0.914286
4    2002            35    26  79.9           3314  0.742857

In [378]:
df_win_ppg = df_scoring_offense.rename(columns={'Kaggle TeamID':'WTeamID', 'PPG':'WPPG'})
df_win_ppg.drop(labels=['Games Played','Wins','Win%'], inplace=True, axis=1)
df_lose_ppg = df_scoring_offense.rename(columns={'Kaggle TeamID':'LTeamID', 'PPG':'LPPG'})
df_lose_ppg.drop(labels=['Games Played','Wins','Win%'], inplace=True, axis=1)
df_concat = pd.merge(left=df_concat, right=df_win_ppg, how='inner', on=['Season', 'WTeamID'])
df_concat = pd.merge(left=df_concat, right=df_lose_ppg, how='inner', on=['Season', 'LTeamID'])
df_concat['PPGDiff'] = df_concat.WPPG - df_concat.LPPG
df_concat.drop(labels=['WPPG', 'LPPG'], inplace=True, axis=1)
df_concat.head()

   Season  WTeamID  LTeamID  SeedDiff  FG%Diff  ReboundDiff  PPGDiff
0    2002     3116     3155        -5    0.017         -1.3      5.6
1    2002     3124     3137       -13    0.006          5.5      5.7
2    2002     3160     3380       -11    0.044         -0.8      7.8
3    2002     3160     3261        -3   -0.005          2.6      3.2
4    2002     3160     3390         1   -0.021         -4.7     -4.2

In [379]:
df_win_win_percent = df_scoring_offense.rename(columns={'Kaggle TeamID':'WTeamID', 'Win%':'WWin%'})
df_win_win_percent.drop(labels=['Games Played', 'Wins', 'PPG'], inplace=True, axis=1)
df_lose_win_percent = df_scoring_offense.rename(columns={'Kaggle TeamID':'LTeamID', 'Win%':'LWin%'})
df_lose_win_percent.drop(labels=['Games Played', 'Wins', 'PPG'], inplace=True, axis=1)
df_concat = pd.merge(left=df_concat, right=df_win_win_percent, how='inner', on=['Season', 'WTeamID'])
df_concat = pd.merge(left=df_concat, right=df_lose_win_percent, how='inner', on=['Season', 'LTeamID'])
df_concat['Win%Diff'] = df_concat['WWin%'] - df_concat['LWin%']
df_concat.drop(labels=['WWin%', 'LWin%'], inplace=True, axis=1)
df_concat.head()

   Season  WTeamID  LTeamID  SeedDiff  FG%Diff  ReboundDiff  PPGDiff  Win%Diff
0    2002     3116     3155        -5    0.017         -1.3      5.6  0.038793
1    2002     3124     3137       -13    0.006          5.5      5.7  0.140762
2    2002     3160     3380       -11    0.044         -0.8      7.8 -0.132827
3    2002     3160     3261        -3   -0.005          2.6      3.2  0.105882
4    2002     3160     3390         1   -0.021         -4.7     -4.2 -0.208403

# Turnover Data

In [380]:
df_turnovers.drop(labels=['Team', 'Kaggle Name', 'Ranking'], inplace=True, axis=1)
df_turnovers['Kaggle TeamID'] = df_turnovers['Kaggle TeamID'].astype(int)
df_turnovers.head()

   Season  TOPG  Kaggle TeamID
0    2002  11.3           3437
1    2002  12.6           3375
2    2002  13.5           3261
3    2002  13.5           3153
4    2002  13.5           3116

In [381]:
df_win_turnovers = df_turnovers.rename(columns={'Kaggle TeamID':'WTeamID', 'TOPG':'WTOPG'})
df_lose_turnovers = df_turnovers.rename(columns={'Kaggle TeamID':'LTeamID', 'TOPG':'LTOPG'})
df_concat = pd.merge(left=df_concat, right=df_win_turnovers, how='inner', on=['Season', 'WTeamID'])
df_concat = pd.merge(left=df_concat, right=df_lose_turnovers, how='inner', on=['Season', 'LTeamID'])
df_concat['TOPGDiff'] = df_concat.WTOPG - df_concat.LTOPG
df_concat.drop(labels=['WTOPG', 'LTOPG'], inplace=True, axis=1)
df_concat

,Season,WTeamID,LTeamID,SeedDiff,FG%Diff,ReboundDiff,PPGDiff,Win%Diff,TOPGDiff
0,2002,3116,3155,-5,0.017,-1.3,5.6,0.038793,-1.6
1,2002,3124,3137,-13,0.006,5.5,5.7,0.140762,-2.0
2,2002,3160,3380,-11,0.044,-0.8,7.8,-0.132827,-2.2
3,2002,3160,3261,-3,-0.005,2.6,3.2,0.105882,0.9
4,2002,3160,3390,1,-0.021,-4.7,-4.2,-0.208403,-2.2
5,2002,3179,3393,-3,0.035,0.2,4.6,0.176931,-0.5
6,2002,3179,3124,5,0.006,-6.1,-4.0,-0.060606,-1.2
7,2002,3181,3313,-15,0.116,-2.2,15.7,0.176037,-2.4
8,2002,3181,3395,-7,0.073,-1.7,12.2,0.111521,-2.6
9,2002,3181,3400,-3,0.065,-0.6,13.0,0.198214,-1.7
10,2002,3181,3376,-2,0.038,1.4,10.5,0.104464,-0.8
11,2002,3198,3166,-7,0.049,6.5,3.8,0.043988,4.4
12,2002,3243,3245,-11,0.038,-0.5,4.3,0.119545,-2.0
13,2002,3243,3116,-3,0.079,0.5,3.5,0.139706,4.0
14,2002,3261,3365,-5,0.027,-3.7,-3.2,-0.077419,-3.6
15,2002,3280,3130,7,0.016,0.7,9.0,-0.129032,2.9
16,2002,3323,3307,-3,0.011,1.5,-0.4,-0.043011,1.4
17,2002,3336,3151,-9,-0.006,-3.3,-1.9,-0.084793,-0.8
18,2002,3336,3198,-1,-0.018,-5.4,-1.0,-0.161039,-2.6
19,2002,3364,3256,7,0.032,-5.4,-0.5,-0.020833,3.5
20,2002,3395,3231,-1,0.014,4.4,4.3,0.225806,2.3
21,2002,3397,3209,-13,0.010,6.4,8.4,0.175522,-0.6
22,2002,3397,3323,-5,0.025,1.2,14.5,0.186275,-0.3
23,2002,3397,3140,-9,0.000,7.6,7.3,0.125668,2.5
24,2002,3397,3435,1,-0.074,9.2,7.4,0.042130,2.7
25,2002,3400,3453,-9,-0.065,8.6,-2.4,-0.086694,3.4
26,2002,3400,3364,-8,-0.038,-1.9,-5.3,-0.125000,-1.1
27,2002,3403,3280,-8,-0.023,2.3,-4.5,0.012097,-2.5
28,2002,3113,3458,1,-0.028,-0.7,-5.1,0.122391,-2.0
29,2002,3140,3196,5,0.049,-8.0,2.3,0.106583,-2.0
...,...,...,...,...,...,...,...,...,...
10503,2017,3124,3411,-15,0.099,12.3,28.8,0.194922,-6.6
10504,2017,3124,3143,-8,0.043,13.2,20.8,0.303657,-3.6
10505,2017,3124,3257,-3,0.053,9.9,14.9,0.108108,-0.8
10506,2017,3143,3261,1,0.032,5.0,5.3,-0.036765,2.7
10507,2017,3163,3107,-15,0.111,0.3,20.9,0.336609,-7.7
10508,2017,3163,3393,-7,0.128,-1.0,8.5,0.306306,-1.6
10509,2017,3163,3417,-3,0.115,-1.2,13.0,0.237679,0.2
10510,2017,3163,3332,-9,0.077,1.7,16.2,0.351351,-2.1
10511,2017,3181,3214,-13,0.131,1.4,13.2,0.217469,0.4
10512,2017,3243,3179,-3,-0.065,-2.3,-14.7,-0.172014,-0.6
10513,2017,3257,3151,-9,0.013,7.0,11.3,0.127534,1.7
10514,2017,3257,3397,-1,0.015,0.3,1.3,0.158784,0.8
10515,2017,3274,3195,-9,0.023,1.9,0.2,-0.015584,3.5
10516,2017,3328,3211,-5,-0.011,-1.5,2.0,-0.090909,0.7
10517,2017,3332,3396,3,0.055,-4.1,1.0,-0.128378,0.8
10518,2017,3332,3181,8,-0.024,-1.5,-2.8,-0.201908,-1.5
10519,2017,3332,3268,7,-0.060,-7.3,-18.4,-0.292664,-0.7
10520,2017,3346,3266,7,-0.068,-1.7,-10.4,0.047980,2.7
10521,2017,3346,3274,8,-0.050,0.3,-3.7,0.078283,-1.2
10522,2017,3390,3308,-13,0.020,2.5,2.3,0.067912,-1.4
10523,2017,3390,3243,-5,0.025,3.9,4.2,0.165635,-1.1
10524,2017,3390,3400,-1,-0.004,-2.0,-2.3,0.106811,-1.3
10525,2017,3390,3323,1,-0.049,1.8,-8.4,-0.049787,1.2
10526,2017,3393,3235,-1,-0.013,0.5,4.8,0.086022,1.2
10527,2017,3397,3173,-7,0.039,-0.7,7.5,-0.062500,-1.7
10528,2017,3401,3335,-7,0.041,-1.4,7.4,-0.086275,2.3
10529,2017,3417,3129,-9,0.013,1.1,5.4,-0.022282,-3.2
10530,2017,3417,3401,-1,-0.021,2.1,5.4,0.088235,-2.0
10531,2017,3449,3286,-11,0.065,-1.8,12.7,0.047321,-5.0
10532,2017,3449,3328,-3,0.055,2.7,11.0,0.131602,-5.0

In [382]:
# Now we'll create a dataframe that summarizes wins & losses along with 
# their corresponding seed differences. This is the meat of what we'll be creating our model on.
df_wins = pd.DataFrame()
df_wins = df_concat.drop(labels=['Season', 'WTeamID', 'LTeamID'], axis=1)
df_wins['Result'] = 1

df_losses = pd.DataFrame()
df_losses['SeedDiff'] = -df_concat['SeedDiff']
df_losses['FG%Diff'] = -df_concat['FG%Diff']
df_losses['ReboundDiff'] = -df_concat['ReboundDiff']
df_losses['PPGDiff'] = -df_concat['PPGDiff']
df_losses['Win%Diff'] = -df_concat['Win%Diff']
df_losses['TOPGDiff'] = -df_concat['TOPGDiff']
df_losses['Result'] = 0

df_predictions = pd.concat((df_wins, df_losses))
df_predictions = (df_predictions - df_predictions.min()) / (df_predictions.max() - df_predictions.min())
df_predictions.to_csv('training_data.csv', index=False)

In [383]:
X_train = df_predictions[['SeedDiff','FG%Diff','ReboundDiff','PPGDiff','Win%Diff','TOPGDiff']].values.reshape(-1,6)
y_train = df_predictions.Result.values
X_train, y_train = shuffle(X_train, y_train)

# Train the Model

In [384]:
# Use a basic logistic regression to train the model. You can set different C values to see how performance changes.
logreg = LogisticRegression()
params = {'C': np.logspace(start=-5, stop=3, num=9)}
clf = GridSearchCV(logreg, params, scoring='neg_log_loss', refit=True)
clf.fit(X_train, y_train)
print('Best log_loss: {:.4}, with best C: {}'.format(clf.best_score_, clf.best_params_['C']))

Best log_loss: -0.448, with best C: 100.0

In [385]:
forest = RandomForestClassifier()
params = {'max_depth': np.logspace(start=2, stop=10, num=13)}
clf = GridSearchCV(forest, params, scoring='neg_log_loss', refit=True)
clf.fit(X_train, y_train)
print('Best log_loss: {:.4}, with best depth: {}'.format(clf.best_score_, clf.best_params_['max_depth']))

Best log_loss: -0.1073, with best depth: 464158883.3612773

boosting = GradientBoostingClassifier()
params = {'learning_rate': np.logspace(start=0.1, stop=1, num=10)}
clf = GridSearchCV(boosting, params, scoring='neg_log_loss', refit=True)
clf.fit(X_train, y_train)

print('Best log_loss: {:.4}, with best learning rate: {}'.format(clf.best_score_, clf.best_params_['learning_rate']))

In [386]:
df_sample_sub = pd.read_csv(data_dir + 'WSampleSubmissionStage2.csv')
n_test_games = len(df_sample_sub)
def get_year_t1_t2(ID):
    """Return a tuple with ints `year`, `team1` and `team2`."""
    return (int(x) for x in ID.split('_'))

In [387]:
from sklearn.preprocessing import MinMaxScaler

X_test = np.zeros(shape=(n_test_games, 6))
for ii, row in df_sample_sub.iterrows():
    year, t1, t2 = get_year_t1_t2(row.ID)
    print(year)
    t1_seed = df_seeds[(df_seeds.TeamID == t1) & (df_seeds.Season == year)].seed_int.values[0]
    t2_seed = df_seeds[(df_seeds.TeamID == t2) & (df_seeds.Season == year)].seed_int.values[0]
    diff_seed = t1_seed - t2_seed
    X_test[ii, 0] = diff_seed
    
    t1_fgp = df_field_goal[(df_field_goal['Kaggle TeamID'] == t1) & (df_field_goal.Season == year)]['FG Percentage'].values[0]
    t2_fgp = df_field_goal[(df_field_goal['Kaggle TeamID'] == t2) & (df_field_goal.Season == year)]['FG Percentage'].values[0]
    diff_fgp = t1_fgp - t2_fgp
    X_test[ii, 1] = diff_fgp
    
    t1_rpg = df_rebounds[(df_rebounds['Kaggle TeamID'] == t1) & (df_rebounds.Season == year)]['RPG'].values[0]
    t2_rpg = df_rebounds[(df_rebounds['Kaggle TeamID'] == t2) & (df_rebounds.Season == year)]['RPG'].values[0]
    diff_rpg = t1_rpg - t2_rpg
    X_test[ii, 2] = diff_rpg
    
    t1_ppg = df_scoring_offense[(df_scoring_offense['Kaggle TeamID'] == t1) & 
                                (df_scoring_offense.Season == year)]['PPG'].values[0]
    t2_ppg = df_scoring_offense[(df_scoring_offense['Kaggle TeamID'] == t2) & 
                                (df_scoring_offense.Season == year)]['PPG'].values[0]
    diff_ppg = t1_ppg - t2_ppg
    X_test[ii, 3] = diff_ppg
    
    t1_win_percent = df_scoring_offense[(df_scoring_offense['Kaggle TeamID'] == t1) & (df_scoring_offense.Season == year)]['Win%'].values[0]
    t2_win_percent = df_scoring_offense[(df_scoring_offense['Kaggle TeamID'] == t2) & (df_scoring_offense.Season == year)]['Win%'].values[0]
    diff_win_percent = t1_win_percent - t2_win_percent
    X_test[ii, 4] = diff_win_percent
    
    t1_topg = df_turnovers[(df_turnovers['Kaggle TeamID'] == t1) & (df_turnovers.Season == year)]['TOPG'].values[0]
    t2_topg = df_turnovers[(df_turnovers['Kaggle TeamID'] == t2) & (df_turnovers.Season == year)]['TOPG'].values[0]
    diff_topg = t1_topg - t2_topg
    X_test[ii, 5] = diff_topg

scaler = MinMaxScaler()
scaler.fit(X_test)
X_test_normalized = scaler.transform(X_test)

2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018
2018

KeyboardInterrupt:

In [359]:
preds = clf.predict_proba(X_test_normalized)[:,1]

clipped_preds = np.clip(preds, 0.05, 0.95)
df_sample_sub.Pred = clipped_preds
df_sample_sub

                  ID  Pred
0     2018_3110_3113  0.05
1     2018_3110_3114  0.50
2     2018_3110_3124  0.05
3     2018_3110_3125  0.10
4     2018_3110_3129  0.70
5     2018_3110_3138  0.60
6     2018_3110_3141  0.20
7     2018_3110_3143  0.05
8     2018_3110_3163  0.05
9     2018_3110_3166  0.30
10    2018_3110_3169  0.80
11    2018_3110_3173  0.30
12    2018_3110_3177  0.10
13    2018_3110_3179  0.60
14    2018_3110_3181  0.10
15    2018_3110_3189  0.50
16    2018_3110_3195  0.20
17    2018_3110_3199  0.05
18    2018_3110_3203  0.50
19    2018_3110_3208  0.10
20    2018_3110_3211  0.30
21    2018_3110_3212  0.80
22    2018_3110_3234  0.20
23    2018_3110_3251  0.60
24    2018_3110_3257  0.05
25    2018_3110_3261  0.05
26    2018_3110_3263  0.50
27    2018_3110_3266  0.20
28    2018_3110_3268  0.05
29    2018_3110_3273  0.50
...              ...   ...
1986  2018_3393_3443  0.40
1987  2018_3393_3453  0.30
1988  2018_3397_3400  0.30
1989  2018_3397_3401  0.70
1990  2018_3397_3417  0.50
1991  2018_3397_3437  0.40
1992  2018_3397_3438  0.80
1993  2018_3397_3443  0.80
1994  2018_3397_3453  0.80
1995  2018_3400_3401  0.90
1996  2018_3400_3417  0.40
1997  2018_3400_3437  0.80
1998  2018_3400_3438  0.90
1999  2018_3400_3443  0.90
2000  2018_3400_3453  0.80
2001  2018_3401_3417  0.50
2002  2018_3401_3437  0.90
2003  2018_3401_3438  0.95
2004  2018_3401_3443  0.90
2005  2018_3401_3453  0.50
2006  2018_3417_3437  0.90
2007  2018_3417_3438  0.90
2008  2018_3417_3443  0.95
2009  2018_3417_3453  0.70
2010  2018_3437_3438  0.60
2011  2018_3437_3443  0.80
2012  2018_3437_3453  0.40
2013  2018_3438_3443  0.05
2014  2018_3438_3453  0.10
2015  2018_3443_3453  0.10

[2016 rows x 2 columns]

In [360]:
# Create submission file!
df_sample_sub.to_csv('forest2018.csv', index=False)